
header {
  background-color: #c4c4c4;
  background-size: cover;
  padding: 0 20px;
  font-size: 12px;
  border-bottom: 1px solid #a8a8a8;
  border-top: 1px solid #a8a8a8;
  margin: -8px;
}

body {
  background-image: url("../images/background.png");
  font-family: 'Lucida Grande';
}

main {
  font-family: 'Lucida Grande';
  display: block;
  max-width: 800px;
  margin: 50px auto 100px auto;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px 20px;
  box-shadow: 0 0 5px 1px #a8a8a8;
}

footer {
  max-width: 850px;
  margin: 50px auto 100px auto;
  margin-top: 20px;
  text-align: center;
  color: rgba(172, 172, 172, 0.80);
  border-top: 2px solid rgba(172, 172, 172, 0.50)
}

/* Classes */
.products {
  float: right;
  color: #ffffff;
  font-size: 14px;
  text-shadow: 2px 2px #a8a8a8;
  margin: 28px 10px;
  text-decoration: none;
}

.signup {
  float: right;
  padding: 5px 5px;
  width: 78px;
  height: 38px;
  margin: 17px auto;
  border-color: #2a4cb2;
  background-color: #2a4cb2;
  color: #ffffff;
  border-radius: 10%;
  border-color: #2A4CB2;
  font-family: 'Lucida Grande';
  font-size: 14px;
}

.cart {
  float: left;
  padding: 5px 5px;
  width: 150px;
  height: 40px;
  margin: 17px auto;
  background-color: #2a4cb2;
  border-radius: 4%;
  color: #ffffff;
  font-family: 'Lucida Grande';
  font-size: 16px;
  border-color: #2A4CB2;
}

.productpics {
  width: 200px;
  height: 150px;
  margin: 5px 10px;
  border: 5px solid rgba(172, 172, 172, 0.50);
  border-radius: 3px;
  box-shadow: 0 0 0 1px #a8a8a8;
  position: relative;
}

.productbox {
  display: flex;
  padding: 10px 0;
  margin-left: 0;
  border-bottom: 1px solid rgba(172, 172, 172, 0.50);
}

.productbox3 {
display: flex;
padding: 10px 0;
margin-left: 0;
}

.description {
  width: 500px;
}

/* NEED TO STYLE*/
.details {
  color: #2A4CB2;
  font-size: 14px;
  text-decoration: none;
  text-shadow: none;
  display: inline-block;
  margin: 30px 0 40px 0;
  padding-left: 20px;
}
