
.logo {
  margin: 0px 200px 0px 200px;
}
  .ski {
    width: 100%;

  }

  .headlines,
  .morestuff {
    display: flex;
  }

.headlines {
  margin: 0px 1px 0px 1px;
}
  article {
    flex: 1;
    margin: 9px 15px 0px 15px;
    padding: 0px 2px 0px 0px;
    text-align: left;
  }

p {
  text-align: left;
  padding: 0px 2px;
  margin-top: 0px;
}

h2 {
  margin: 1px 2px 0px 2px;
  padding: 0px 0px;
  font-size: 20px;
}

.morestuff {
  margin: 0px 5px;
}

h3 {
  margin: 0px 5px 0px 0px;
  padding: 0px 0px;
}
